@media only screen and (min-width: 768px) {
  .mobile,
  .btn__style,
  .foto__email,
  .foto__email__links,
  .incdiactor__img,
  .bgrht__img,
  .bgimg,
  .mobile-form {
    display: none;
  }

  .footer__container {
    background-image: none;
  }

  .hug {
    display: none;

    &__img {
      display: none;
    }
  }

  .mobile__label,
  .mobile__input,
  .mobile__textarea {
    display: none;
  }

  .desktop {
    margin-top: 2rem;
  }

  .desktop__nav {
    display: flex;
    justify-content: center;

    &__list {
      list-style: none;
    }

    &__link {
      text-decoration: none;
      padding: 20px;
      color: #28352f;
      font-family: inherit;
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      letter-spacing: 0;
      text-align: center;
    }
  }

  .desktop__nav__list:hover {
    scale: 1.2;
  }

  .headline__secondary {
    margin: auto;
    width: 55%;
    text-align: center;
  }

  .Main-container {
    background-image: url(../img/Header-llustration-desktop@2x.png);
    background-repeat: no-repeat;
    background-size: 100% 50%, contain;
    background-position: 0 -20px;
  }

  .hug__Desktop {
    text-align: center;
    margin-top: 20px;

    &__img {
      height: 50px;
      width: 50px;
      left: 144px;
      top: 4px;
      border-radius: 32px;
      padding: 8px;
    }
  }

  .recent__work {
    margin: auto;
    width: 55%;
    text-align: center;
  }

  .works {
    margin: auto;
    width: 70%;
    row-gap: 20px;
  }

  .work {
    border-radius: 8px;
    margin: 5px;
  }

  .about__me__text {
    margin: auto;
    width: 55%;
    text-align: center;
  }

  .about__me__Container {
    background-image: url(../img/AboutmeDesktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 141.5rem -5px;
    width: 100%;
  }

  .about__container {
    background-image: url(../img/illustration-about-me-2-desktop@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 20% 50%;
  }

  .frame-container {
    margin: auto;
    width: 70%;
    column-gap: 20px;
    justify-content: center;
    margin-bottom: 10rem;
  }

  .frame__content {
    width: 100%;
  }

  .frames__done__group {
    width: 100%;
  }

  .FormText {
    position: relative;
    text-align: left;
    width: 35%;
    margin-left: 32px;

    &__para {
      font-size: 30px;
      text-align: justify;
      width: 100%;
      padding-left: 30px;
      padding-right: 40px;
    }
  }

  .deskform {
    width: 37%;
    justify-items: center;
  }

  .btn__Desk {
    margin-top: 15px;
  }

  .formHeadContain {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 150px;
  }

  .desktop__label,
  .desktop__input,
  .desktop__textarea {
    display: block;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }

  .desktop__input {
    display: inline-block;
    margin-bottom: 20px;
    color: #6b778c;
    padding: 20px 20px;
    text-indent: 15px;
    width: 40%;
  }

  .Fname {
    width: 50%;
    margin-right: 10px;
  }

  .lname {
    width: 47%;
  }

  .emailInput {
    width: 100%;
  }

  .desktop__input,
  .desktop__textarea {
    box-sizing: border-box;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 5px;
    outline: none;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .desktop__input:focus {
    border: 1px solid #d0d9d4;
  }

  .desktop__textarea {
    resize: none;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #091e42;
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
  }

  .desktop__textarea:focus {
    border: 1px solid #60c095;
  }

  .fotobg__container {
    margin-top: 10px;
  }

  .rect__img {
    padding-bottom: 2rem;
    width: 100%;
  }

  footer {
    margin-bottom: 80px;
    position: relative;
    background-image: url(../img/illustration-2-contact-form-desktop.png);
    background-repeat: no-repeat;
    background-position: 30% 70%;
  }

  .Footer__img {
    position: absolute;
    bottom: 8%;
    right: 0;
  }

  .Ft_img {
    position: absolute;
    bottom: 10%;
    left: 0;
  }
}
