@media only screen and (max-width: 600px) {
  .Ft_img,
  .Footer__img,
  .rect__img,
  .deskform {
    display: none;
  }
}

.hug {
  text-align: center;

  &__img {
    height: 60px;
    width: 60px;
    left: 144px;
    top: 4px;
    border-radius: 32px;
    padding: 8px;
  }
}

.recent__work {
  text-align: center;
  margin: auto;
  width: 55%;

  &--text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    fill: solid;
    color: #172b4d;
    box-sizing: border-box;
  }
}

.works {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  grid-gap: 16px;
}

.work {
  border-radius: 8px;
  margin: 20px;
  border: 1px solid #d0d9d4;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;
    border-radius: 8px;
  }
}

.work__content {
  left: 0;
  top: 252px;
  border-radius: 8px;
  padding: 16px;
  display: grid;
  text-align: center;
  // margin-bottom: 30px;
}

.work__Title {
  &--text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    fill: solid #3a4a42;
  }
}

.work__done {
  &__group {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &__list {
    border: 1px solid #ccc;
    background-color: #ebf0ee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding: 8px 12px;
    margin-top: 15px;
    list-style: none;
    border-radius: 4px;
  }

  &__link {
    text-decoration: none;
    color: #3a4a42;
  }
}

.btn__style {
  display: grid;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.btn {
  height: 48px;
  width: 122px;
  border-radius: 4px;
  padding: 12px;
  background-color: #36b37f;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 17px;
}

.Abtn {
  width: 159px;
  height: 48px;
  margin: 12px;
  border-radius: 4px;
  padding: 12px;
  background-color: #36b37f;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 17px;
}

.btn:hover,
.Abtn:hover {
  background-color: #36b37f;
  box-shadow: 0 8px 16px 0 #36b37f3d;
}

.btn:active,
.Abtn:hover {
  background-color: #008552;
}

.btn:enabled,
.Abtn:hover {
  background-color: #36b37f;
}

.about__me__Container {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 90px;
}

.about__me {
  text-align: center;

  &__title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    fill: solid;
    color: #172b4d;
    box-sizing: border-box;
  }

  &__text {
    display: grid;
    justify-content: center;
    padding: 10px;
    margin: 0;
  }

  &__paragraph {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
    color: #42526e;
    margin: 10px;
  }
}

.bgrht {
  position: relative;
}

.bgrht__img {
  width: 68px;
  height: 127px;
  position: absolute;
  top: -45px;
  right: 0;
}

.bgtp {
  position: relative;
}

.bgtp__img {
  position: fixed;
  position: absolute;
  left: -240px;
  top: -50px;
}

.bgimg {
  background-image: url(../img/bgAbout_meDown.png);
  background-repeat: no-repeat;
}

.frame-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: center;
  grid-gap: 16px;
  box-sizing: border-box;
}

.frame__content {
  margin: 20px;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
  background-color: #ebf0ee;
  height: 450px;

  &__Icon {
    text-align: center;
  }

  &__links {
    text-decoration: none;
  }

  &__img {
    padding: 40px;
  }
}

.frame__Title {
  margin-top: 20px;
  margin-bottom: 20px;

  &--text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    fill: solid #3a4a42;
  }
}

.frames__done {
  display: flex;
  flex-direction: column;

  &__group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  &__group2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
  }

  &__list {
    border: 1px solid #ccc;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding: 12px;
    list-style: none;
    border-radius: 8px;
    margin-right: 8px;
    margin-left: 6px;
  }

  &__link {
    text-decoration: none;
    color: #36b37e;
  }
}

.FormText {
  text-align: center;
  height: 363px;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 80px;

  &__para {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #172b4d;
    padding: 15px;
    margin: 10px;
    margin-bottom: 20px;
  }
}

//Styling Form
.contact__container {
  margin-top: 15px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.contact-us {
  border-radius: 4px;
  padding-left: 20px;
  box-sizing: border-box;
}

.mobile__label,
.mobile__input,
.mobile__textarea {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.mobile__input {
  margin-bottom: 20px;
  color: #6b778c;
  padding: 20px 20px;
  text-indent: 15px;
}

.mobile__input,
.mobile__textarea {
  box-sizing: border-box;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 5px;
  outline: none;
  width: 95%;
  border-radius: 4px;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mobile__input:focus {
  border: 1px solid #d0d9d4;
}

.mobile__textarea {
  resize: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  padding-top: 20px;
  padding-left: 20px;
}

.mobile__textarea:focus {
  border: 1px solid #60c095;
}

.footer__container {
  background-image: url(../img/fotobgFrame.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.foto__email {
  display: grid;
  justify-content: center;
  padding-bottom: 20rem;
  margin-bottom: 15rem;

  &__links {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding: 20px;
    color: #42526e;
  }
}

footer {
  margin-bottom: 80px;
}
